body {
    background-color: #cccccc;
}

#form {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #999967;
    border-radius: 3px;
    background-color: #cccc9a;
    color: #666666;
    font-size: 18px;
}
